header {
  color: white;
  background-color: #009a7b;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  flex: 1fr;
  width: 100%;
}

.shipping-para {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: "Play", sans-serifpx;
  font-weight: normal;
}

.logo-div {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50px;
  cursor: pointer;     
}

.logo-row {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 50px;
  padding: 25px;
  border: 1px solid #e5e7eb;
  padding-bottom: 15px;
  border-right-style: none;
  padding-right: 0px;
}

.shopping-div {
  display: flex;
  flex-direction: row;
  flex: 1fr;
  width: 95%;
  padding-left: 100px;
  height: 45px;
  justify-content: flex-end;

}

.location-div {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 45px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}

.location-icon {
  display: flex;
  flex-direction: column;
  height: 45px;
  width: 25px;
  align-items: center;
  justify-content: center;
}

.location-para {
  display: flex;
  flex-direction: column;
  width: 120px;
  font-size: 14px;
  height: 45px;
  margin-left: 15px;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-para {
  display: flex;
  flex-direction: row;
}

.bottom-para {
  display: flex;
  flex-direction: row;
  color: gray;
  font-style: italic;
}

.search-div {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 45px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-icon {
  display: flex;
  flex-direction: column;
  height: 45px;
  width: 25px;
  align-items: center;
  justify-content: center;
}

.search-para {
  display: flex;
  flex-direction: column;
  width: 120px;
  font-size: 14px;
  height: 45px;
  margin-left: 15px;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.account-div {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 45px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-icon {
  display: flex;
  flex-direction: column;
  height: 45px;
  width: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.cart-para {
  display: flex;
  flex-direction: column;
  width: 120px;
  font-size: 14px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cart-div {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 45px;
  align-items: center;
  justify-content: center;
}


.features-div {
  display: flex;
  flex: 1fr;
  align-items: center;
  justify-content: center;
  width: 98.5%;
  padding: 15px;
  padding-right: 0px;
  height: 30px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid #e5e7eb;
  border-top-style: none;
  border-right-style: none;
  flex: 1
}



.text-div {
  display: block;
  width: 120px;
  cursor: pointer;
}

.text-div:hover {
  color: #009a7b;
}