
.entry-div {
  display: flex;
  height: 95vh;
  width: 100%;
  flex-direction: column;
  flex: 1;
  background-image: url('Drop_Banner_US_Desktop_310d4835-7b6d-43f4-90ce-6a369ae43446_1800x.webp');
  justify-content: space-between;
  background-position: center;
}

.top-div {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 70px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gray;
}

.left-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.middle-section {
  flex-direction: row;
  width: 200px;
  background-color: transparent;
  background-image: url('Prime-Logo_115x.avif');
  background-position: center;
  background-repeat: no-repeat;
}

.right-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.text {
  display: inline;
  padding-left: 30px;
  color: white;
  height: 20px;
}

.left-text {
  margin-left: 30px;
  width: 700px;
  display: inline-block;
  height: 20px;
  font-family: nunito sans;
  font-size: 14px;
  font-weight: bold;
}

.details-div {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 300px;
}

.search-div,.account-div,.cart-div,.ship-para,.button-div {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 20px;
  padding-left: 5px;
  
}


.shipping-div {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: white;
  align-items: center;
}

.ship-para {
  width: 50px;
  margin-left: 10px;
  padding-top: 5px;
}


.right-right-section {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
  font-family: nunito sans;
  justify-content: space-between;
  font-size: 14px;
}

.ship-button {
  padding: 7px;
  border: 1px solid;
  border-color: white;
  color: white;
  background-color: transparent;
}

.button-div {
  padding-bottom: 2px;
}

.cart-div {
  margin-right: 30px;
}

.uk-para {
  padding-left: 7px;
  padding-top: 5px;
}

.entry-text {
  height: 150px;
  background-color: transparent;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: nunito sans;
  letter-spacing: 5px;
  color: white;
}

.entry-head {
  font-weight: bolder;
  font-size: 30px;
}

.entry-para {
  font-size: 17px;
}

.retailer-div {
  padding-top: 20px;
}

.retail-button {
  padding: 15px;
  width: 160px;
  background-color: white;
  border: 1px solid;
  border-color: white;
  font-weight: bold;
}

